header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #F7F7F7;
}
li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #7A6666;
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
}
h1{
    margin-left: 50px;
    color: #7A6666;
}
